.git
.gitignore
.ruff_cache
.venv
**/.venv
**/__pycache__
**/*.py[cod]
**/*.egg-info
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache

.env
.env.*

02_extract/data
02_extract/adzuna/adzuna_redirects.jsonl
_old
_developpements

*.sqlite
*.db
*.log
