main:
  params: [args]
  steps:
    - init:
        assign:
          - project_id: "${project_id}"
          - region: "${region}"
          - environment: "${environment}"
    - check_args:
        switch:
          - condition: $${args != null}
            next: set_input_args
        next: set_empty_args

    - set_input_args:
        assign:
          - input_args: $${args}
        next: set_run_id

    - set_empty_args:
        assign:
          - input_args: {}

    - set_run_id:
        assign:
          - run_id: $${default(map.get(input_args, "run_id"), sys.now())}

    - run_parallel_pipelines:
        parallel:
          shared: [run_id, project_id, region, input_args]
          branches:
            - ft_branch:
                steps:
                  - run_extract_ft:
                      call: googleapis.run.v2.projects.locations.jobs.run
                      args:
                        name: $${"projects/" + project_id + "/locations/" + region + "/jobs/${extract_ft_job_name}"}
                      result: ft_ext
                  - load_ft:
                      call: googleapis.workflowexecutions.v1.projects.locations.workflows.executions.run
                      args:
                        workflow_id: "${load_ft_workflow_name}"
                        location: "${region}"
                        project_id: "${project_id}"
                        argument:
                          run_id: $${run_id}
                          parent_args: $${input_args}
                      result: ft_load

            - geo_branch:
                steps:
                  - run_extract_geo:
                      call: googleapis.run.v2.projects.locations.jobs.run
                      args:
                        name: $${"projects/" + project_id + "/locations/" + region + "/jobs/${extract_geo_job_name}"}
                      result: geo_ext
                  - load_geo:
                      call: googleapis.workflowexecutions.v1.projects.locations.workflows.executions.run
                      args:
                        workflow_id: "${load_geo_workflow_name}"
                        location: "${region}"
                        project_id: "${project_id}"
                        argument:
                          run_id: $${run_id}
                          parent_args: $${input_args}
                      result: geo_load

            - adzuna_branch:
                steps:
                  - run_extract_adzuna:
                      call: googleapis.run.v2.projects.locations.jobs.run
                      args:
                        name: $${"projects/" + project_id + "/locations/" + region + "/jobs/${extract_adzuna_job_name}"}
                      result: adz_ext
                  - load_adzuna:
                      call: googleapis.workflowexecutions.v1.projects.locations.workflows.executions.run
                      args:
                        workflow_id: "${load_adzuna_workflow_name}"
                        location: "${region}"
                        project_id: "${project_id}"
                        argument:
                          run_id: $${run_id}
                          parent_args: $${input_args}
                      result: adz_load

#            - sirene_branch:
#                steps:
#                  - load_sirene:
#                      call: googleapis.workflowexecutions.v1.projects.locations.workflows.executions.run
#                      args:
#                        workflow_id: "${load_sirene_workflow_name}"
#                        location: "${region}"
#                        project_id: "${project_id}"
#                        argument:
#                          run_id: $${run_id}
#                          parent_args: $${input_args}
#                      result: sirene_load

            - api_entreprise_branch:
                steps:
                  - run_extract_api_entreprise:
                      call: googleapis.run.v2.projects.locations.jobs.run
                      args:
                        name: $${"projects/" + project_id + "/locations/" + region + "/jobs/${api_entreprise_job_name}"}
                      result: api_ext
                  - load_api_entreprise:
                      call: googleapis.workflowexecutions.v1.projects.locations.workflows.executions.run
                      args:
                        workflow_id: "${load_api_entreprise_workflow_name}"
                        location: "${region}"
                        project_id: "${project_id}"
                        argument:
                          run_id: $${run_id}
                          parent_args: $${input_args}
                      result: api_load

            - n8n_branch:
                steps:
                  - run_n8n_extract:
                      call: googleapis.run.v2.projects.locations.jobs.run
                      args:
                        name: $${"projects/" + project_id + "/locations/" + region + "/jobs/${n8n_trigger_job_name}"}
                      result: n8n_ext
                  - load_n8n:
                      call: googleapis.workflowexecutions.v1.projects.locations.workflows.executions.run
                      args:
                        workflow_id: "${load_n8n_workflow_name}"
                        location: "${region}"
                        project_id: "${project_id}"
                        argument:
                          run_id: $${run_id}
                          parent_args: $${input_args}
                      result: n8n_load

    - run_dbt:
        call: googleapis.run.v2.projects.locations.jobs.run
        args:
          name: $${"projects/" + project_id + "/locations/" + region + "/jobs/${dbt_job_name}"}
        result: dbt_result

    - done:
        return:
          run_id: $${run_id}
          status: "PIPELINE_COMPLETED"
