[
  {
    "Forme juridique": "Société par actions simplifiée (SAS)",
    "Capital": "469690,00",
    "Activité principale déclarée": "L'incubation d'entreprises l'accompagnement de projets de créateurs\nd'entreprises le conseil la recherche de financements la prise de participation\ndans toute société le conseil en organisation d'entreprises et en direction\nd'affaires la formation l'enseignement la prestation de services éducatifs la\nrecherche et le développement le conseil la production et la prestation de tout\nservices notamment dans le secteur informatique et des nouvelles technologies.",
    "Type d'activité": "COMMERCIALE",
    "Convention collective déduite": "Organismes de formation (1516)",
    "Chiffre d'affaires": "17411000,00",
    "Résultats net": 755200,
    "Bilan carbone": "1686 tCO2e",
    "autres bilans": [
      {
        "label": "Gouvernance du secteur",
        "score": "50/100"
      },
      {
        "label": "Achats & approvisionnements du secteur",
        "score": "98/100"
      },
      {
        "label": "Dépendance commerciale du secteur",
        "score": "100/100"
      },
      {
        "label": "Souveraineté numérique du secteur",
        "score": "25/100"
      },
      {
        "Année score": "2024",
        "Score territorial": "C",
        "Score social": "A",
        "Score fiscal": "B"
      }
    ]
  }
]