[
  {
    "Forme juridique": "Société anonyme (SA) à conseil d'administration (SAI)",
    "Capital": "20547701,00",
    "Activité principale déclarée": "En France et partout ailleurs, tous conseils, expertises, études, enseignements,\nse rapportant à l'organisation des entreprises et au traitement de\nl'informatique, toutes réalisations, analyses et programmations sur ordinateurs,\nexécution de tous travaux à facon, la conception, la réalisation de tous\nsystèmes s'appliquant à l'automatisme, la gestion, comprenant l'achat de\ncomposants, de matériels, le montage et les logiciels adaptés et notamment la\nfourniture de logiciels de cryptographie de deuxieme catégorie.",
    "Type d'activité": "COMMERCIALE",
    "Convention collective déduite": "Bureaux d'études techniques SYNTEC (1486)",
    "Chiffre d'affaires": "1984700000,00",
    "Résultats net": 176640000,
    "Bilan carbone": "70204 tCO2e",
    "autres bilans": [
      {
        "label": "Gouvernance du secteur",
        "score": "50/100"
      },
      {
        "label": "Achats & approvisionnements du secteur",
        "score": "98/100"
      },
      {
        "label": "Dépendance commerciale du secteur",
        "score": "98/100"
      },
      {
        "label": "Souveraineté numérique du secteur",
        "score": "25/100"
      },
      {
        "Année score": "2024",
        "Score territorial": "B",
        "Score social": "B",
        "Score fiscal": "D"
      }
    ]
  }
]